$bg: '../../../static/img/app-bg.jpeg';
$form-font-size: 1.2em;
$colorGrey1: #0a0909;
$colorGrey2: #c5c4c4;
$colorGrey3: #e4e3e3;
$colorGrey4: #ececec;
$colorWhite0: white;
$colorWhite1: #f7f7f0;
$colorWhite2: #f9f9f9;
$colorDarkGrey1: #848181;
$colorDarkGrey2: #828080;
$colorDarkGrey3: #7b656d;
$colorPastelOrange: rgb(253, 202, 162);
$colorPastelPink: rgb(251, 182, 202);
$colorPastelBlue: rgb(199, 236, 255);
$colorPastelYellow: rgb(255, 237, 120);
$colorPastelGreen0: #77dd77;
$colorBlue1: #889296;
$colorBlue2: #2196F3;
$colorGreen0: #4edc0a;

.box {
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 3%;
  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-first-corners {
  justify-content: space-between;
}

.flex-align-space-around {
  justify-content: space-around;
}

.flex-align-first-center {
  justify-content: center;
}

.rounded {
  border-radius: 5px;
}

.grow-2 {
  flex-grow: 2;
}

.grow-0 {
  flex-grow: 0;
}

.shrink-0 {
  flex-shrink: 0;
}

.flex-align-second-center {
    align-items: center;
}

.flex-align-second-baseline {
  align-items: baseline;
}

.hide {
  display: none;
}

.padding-2x {
  padding: 2%;
}

.padding-0-5em {
  padding: 0.5em;
}

.symbol-container {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  .symbol {
    width: 7em;
    border: solid 0.1em;
    border-radius: 50%;
    border-color: white;
    padding: 0px;
  }
}

.symbol-container-no-border {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  .symbol {
    width: 5em;
    padding: 0px;
  }
}

.font-0-8x {
  font-size: 0.8em;
}

.margin-top-1x {
  margin-top: 1em;
}

.slipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  color: $colorBlue2;
  font-size: $form-font-size;
  font-weight: bold;
  border: solid 1px;
  border-radius: 5px;
  background-color: white;
  outline: none;
}

.background-config {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans);


