.box {
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 3%;
  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-first-corners {
  justify-content: space-between;
}

.flex-align-first-center {
  justify-content: center;
}

.flex-align-second-center {
    align-items: center;
}

.hide {
  display: none;
}

.padding-2x {
  padding: 2%;
}

$form-font-size: 1.2em;

$colorGrey1: #0a0909;
$colorGrey2: #c5c4c4;
$colorGrey3: #e4e3e3;
$colorWhite0: white;
$colorWhite1: #f7f7f0;
$colorDarkGrey1: #848181;
$colorDarkGrey2: #828080;
$colorPastelOrange: rgb(253, 202, 162);
$colorPastelPink: rgb(251, 182, 202);
$colorPastelBlue: rgb(199, 236, 255);
$colorPastelYellow: rgb(255, 237, 120);
$colorBlue1: #6cc0e5;
$colorGreen0: #4edc0a;