{
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "standard"
  ],
  "env": {
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "no-param-reassign": 0,
    "func-names": ["error", "never"],
    "no-console": 0
  }
}
